include ../mixins/sub-menu.pug
header.header 
    .container
        .row.aligh-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.jpg", alt="logo" , with = 150, height = 60)
            .col-5
                .box-search
                    form(
                        action="/search/result"
                        method="GET"
                    ) 
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Nhập từ khóa..."
                                class="form-control"
                                autocomplete="off"
                                name="keyword"
                                value=keyWord
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tìm
                    .inner-suggest
                        .inner-list
                        
            .col-4
                .inner-menu
                    ul(class="hmenu")
                        li
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct class="li-product") Sản phẩm  
                            if(categoryProduct)
                                +sub-menu(categoryProduct, pathProduct)
                        li 
                            if(token_guest)
                                a(
                                    href=`/auth/logout`
                                    class="btn btn-danger btn-sm"
                                ) Đăng xuất
                            else
                                a(
                                    href=`/auth/login`
                                    class="btn btn-success btn-sm"
                                ) Đăng nhập
        